{{ header }}
<div class="container">
	<div class="header__breadcrumbs breadcrumb">
		<ul class="breadcrumbs">
			<li class="breadcrumbs__item breadcrumbs__item_home">
				<a href="/" class="breadcrumbs__link">
					<svg width="14" height="14">
						<use xlink:href="catalog/view/theme/kazmebel/sprite/sprite.svg#home"></use>
					</svg>
				</a>
			</li>
			{% for breadcrumb in breadcrumbs %}
			{% if breadcrumb.text != '<i class="fa fa-home"></i>' %}
			<li class="breadcrumbs__item"><a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a></li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>


<div id="common-success" class="container">

	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
		{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
		{% set class = 'col-sm-9' %}
		{% else %}
		{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<h2 class="section__title">{{ heading_title }}</h2>
			{{ text_message }}
			<div class="buttons">
				<div class="pull-right"><a href="{{ continue }}"><button class="btn item-inner__buy w270 next-tab">{{ button_continue }}</button></a></div>
			</div>
		{{ content_bottom }}</div>
	{{ column_right }}</div>
</div>

{{ footer }}