<a class="news-elem" href="{{post.href}}">
    <img src="{{post.thumb}}" alt="{{post.image_alt}}" title="{{post.image_title}}" />
    <i class="news-date">{{post.date_published}}</i>
    <p class="news-title">{{post.title}}</p>
</a>