<section class="section sales">
	<div class="container">
		<h2 class="section__title">{{ heading_title }}</h2>

		<div class="sales__slider">
			<div class="slider__buttons">
				<button class="btn slider__btn js-slider-sales-prev">
					<svg>
						<use xlink:href="catalog/view/theme/kazmebel/sprite/sprite.svg#arrow-left"></use>
					</svg>
				</button>
				<button class="btn slider__btn js-slider-sales-next">
					<svg>
						<use xlink:href="catalog/view/theme/kazmebel/sprite/sprite.svg#arrow-left"></use>
					</svg>
				</button>
			</div>
			<div class="sales-slider js-slider-sales">
			{% for product in products %}
				<div>
					<a href="{{ product.href }}" class="sales-slider__item">
						<img src="{{ product.thumb }}" alt="slider item" class="sales-slider__img">
						<div class="sales-slider__info">
							<button class="btn sales-slider__basket" title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}');">
								<svg width="24" height="23">
									<use xlink:href="catalog/view/theme/kazmebel/sprite/sprite.svg#basket"></use>
								</svg>
							</button>
							<button class="btn sales-slider__fav" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');">
								<svg width="24" height="19">
									<use xlink:href="catalog/view/theme/kazmebel/sprite/sprite.svg#like"></use>
								</svg>
							</button>

							<p class="sales-slider__category">{{ product.catname }}</p>
							<h2 class="sales-slider__title">{{ product.name }}</h2>
							{% if product.price %}
							<div class="sales-slider__buy"> 
								{% if not product.special %}
								<p class="sales-slider__cost">{{ product.price }}</p>
								{% else %}
								<p class="sales-slider__old-cost">{{ product.price }}</p>
								<p class="sales-slider__cost">{{ product.special }}</p>
								{% endif %}
							</div>
							{% endif %}
						</div>
					</a>
				</div>
			{% endfor %}
			</div>
		</div>

		<div class="goto-link">
			<a href="/specials">
				Смотреть все акции
				<svg width="14" height="11">
					<use xlink:href="catalog/view/theme/kazmebel/sprite/sprite.svg#blocks-arrow"></use>
				</svg>
			</a>
		</div>
	</div>
</section>
