{{ header }}
<div class="container">
	<div class="header__breadcrumbs">
		<ul class="breadcrumbs">
			<li class="breadcrumbs__item breadcrumbs__item_home">
				<a href="/" class="breadcrumbs__link">
					<svg width="14" height="14">
						<use xlink:href="catalog/view/theme/kazmebel/sprite/sprite.svg#home"></use>
					</svg>
				</a>
			</li>
			{% for breadcrumb in breadcrumbs %}
			{% if breadcrumb.text != '<i class="fa fa-home"></i>' %}
			<li class="breadcrumbs__item"><a href="{{ breadcrumb.href }}" class="breadcrumbs__link">{{ breadcrumb.text }}</a></li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>



{% if error_warning %}
<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
{% endif %}

<section class="section catalog-inner lk">
	<div class="container">
		<div id="content" class="{{ class }}">
			<h2 class="section__title">{{ heading_title }}</h2>
			<p>{{ text_email }}</p>
			<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
					<div class="form-group required">
						<div class="col-sm-10">
							<legend>{{ text_your_email }}</legend>
							<input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
						</div>
					</div>
				<div class="buttons clearfix">
					<div class="pull-left"><a href="{{ back }}" class="btn btn-default">{{ button_back }}</a></div>
					<div class="pull-right">
						<input type="submit" value="{{ button_continue }}" class="btn item-inner__buy w270 next-tab" />
					</div>
				</div>
			</form>
		{{ content_bottom }}</div>
	</div>
</section>
{{ footer }}